<%- include('includes/head.ejs'); %>
<section class="container">
  <h1>
    <% if(typeof titulo !=='undefined' ) {%>
    <%= titulo %>
    <% } else { %>
    O título não foi enviado.
    <% } %> <br />
    <% numeros.forEach(num => { %>
    <%= num %> <br />
    <% }) %>
  </h1>

  <form action="/" method="POST">
    <label for="input-teste-1">Cliente</label>
    <input type="text" name="cliente" />
    <button>Enviar</button>
  </form>
</section>
<%- include('includes/footer.ejs') %>